.login {
    background-color: #fff;
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.login > form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 30px 50px;
    box-shadow: 3px 3px 5px #eee, -3px -3px 5px #eee;
}

.login__heading {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.login__inputField {
    margin: 10px 0 !important;
}
